.particle-animation__container {
  height: calc(100% - 10rem);
}

.particle-animation {
  background: #5858FA;
  width: 100%;
  display: block;
}

.home-page__arrow {
  position: relative;
  display: block;
  margin: 0 auto ;
  padding: 1rem;
  bottom: 9rem;
  height: 4rem;
  width: 4rem;
  fill: #ffffff;
  cursor: pointer;
  transition: transform 500ms;
  z-index: 1000;
}

.home-page__arrow.up {
  transform: rotate(0.5turn);
}

.home-page__introduction {
  max-width: 70%;
  margin: 0 auto;
  //padding-bottom: 937px;
  font-family: "Oswald Regular", sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
}

.introduction__letter {
  opacity: 0;
}

.introduction__letter.display {
  transition: opacity 500ms;
  opacity: 1;
}

.presentation-images-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1000ms, margin-top 1000ms;
}

.presentation-images-container.display {
  visibility: visible;
  opacity: 1;
}

.presentation-images-container.stretch {
  margin-top: 0;
}

.presentation-image {
  width: 50%;
  border: 1px solid white;
  border-radius: 0.2rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: width 1000ms, border-color 100ms, transform 100ms;
  z-index: 1000;
}

.presentation-image:hover {
  border-color: #7e08af;
}

.presentation-image:nth-child(1) {
  margin-right: 0.5rem;
}

.presentation-image.stretch {
  position: absolute;
  width: 60%;
  z-index: 1001;
}


