@import "../../common/css/sundries";

.table-page__content {
  position: relative;
  max-width: 1100px;
  min-height: 45.75rem;
  margin: 3rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
          "word-list word-list list-control list-control"
          ". paginator paginator ."
;
  justify-content: left;
}

.word-list__head {
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Viga Regular", sans-serif;
}

.word-list {
  border-collapse: collapse;
  grid-area: word-list;
}

.word-list__tr {
  height: 2rem;
}

.word-list__left-column {
  position: relative;
  padding-right: 1rem;
  border-right: 1px solid #ffffff;
  text-align: right;
  width: 45%;
}

.word-list__right-column {
  padding-left: 1rem;
  text-align: left;
  position: relative;
}

.word-list__left-column.selected,
.word-list__right-column.selected {
  text-shadow: 0 0 0.6rem red;
}

.word-list__left-column:hover,
.word-list__right-column:hover {
  cursor: pointer;
}

.word-list__left-column:hover {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.1), transparent);
}

.word-list__right-column:hover {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
}

.word-list__head .word-list__left-column,
.word-list__head .word-list__right-column {
  border: none;
  height: 4rem;
  cursor: default;
  background: none;
}

.word-list__body {
  color: #ffffff;
  font-family: "Roboto Condensed Regular", sans-serif;
  font-size: 0.9rem;
}

.list-control {
  display: grid;
  grid-area: list-control;
  justify-content: end;
  align-content: start;
}

.add-word_wrapper {
  margin-top: 2rem;
}

.add-word {
  display: grid;
  position: relative;
  grid-auto-flow: row;
  width: 12rem;
  box-sizing: border-box;
  border-bottom: 1px solid #ffffff;
}

.add-eng-word__wrapper {
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
}

.add-rus-word__wrapper {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.add-eng-word, .add-rus-word, .add-base__input {
  outline: none;
  box-sizing: border-box;
  height: 1.5rem;
  width: 11rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  padding-left: 0.3rem;
  font-family: "Kanit Regular", sans-serif;
  font-size: 0.9rem;
}

.add-eng-word::placeholder,
.add-rus-word::placeholder,
.add-base__input::placeholder {
  color: #7e08af;
}

.add-word__btns {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
}

.add-word__add-wrapper,
.add-word__cancel-btn,
.add-base__btn-wrapper {
  font-family: "Oswald Regular", sans-serif;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.95rem;
  margin-left: 0.5rem;
}

.add-word__cancel-btn {
  margin-left: 5.2rem;
}

.add-word__add-wrapper:hover,
.add-word__cancel-btn:hover,
.add-base__btn-wrapper:hover {
  color: #7e08af;
}

.add-word__add-btn, .add-base__btn {
  width: 1px;
  height: 1px;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.word-bases__wrapper {
  display: grid;
  position: relative;
  grid-auto-flow: row;
  justify-items: center;
  margin-top: 8rem;
  width: 12rem;
}

.word-bases {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  margin-top: 0.2rem;
}

.word-bases__base {
  display: grid;
  justify-items: center;
  align-content: center;
  height: 1.2rem;
  width: 8rem;
  background-color: #ffffff;
  margin-top: 0.3rem;
  border-radius: 0.25rem;
  color: #7e08af;
  font-family: "Kanit Regular", sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
  position: relative;
}

.word-bases__base.transfer {
  box-shadow:0 0 10px #ffffff;
}

.word-bases__base:hover {
  background-color: #f5f5f5;
}

.word-bases__base.selected {
  background-color: #7e08af;
  color: #ffffff;
}

.word-bases__btn {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-top: 0.5rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border-radius: 50%;
  font-size: 1.5rem;
  line-height: 145%;
  font-weight: bold;
  color: #7e08af;
  cursor: pointer;
}

.word-bases__title {
  color: #ffffff;
  font-family: "Viga Regular", sans-serif;
}

.add-base__wrapper {
  margin-top: 1rem;
}

.add-base__input {
  outline: none;
  box-sizing: border-box;
  height: 1.5rem;
  width: 11rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  padding-left: 0.3rem;
  font-family: "Kanit Regular", sans-serif;
  font-size: 0.9rem;
  color: #7e08af;
}

.add-base {
  display: grid;
}

.add-base__btns-wrapper {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}

.add-base__btn-wrapper {
  margin: 0;
  padding: 0.3rem;
}

.word-control-menu {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  position: absolute;
  margin-left: 1rem;
}

.word-control-menu__btns {
  display: grid;
  grid-auto-flow: column;
  background: white;
  border-radius: 0.25rem;
}

.word-control-menu__btn {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 1.7rem;
  width: 1.7rem;
  cursor: pointer;
  border-radius: 0.25rem;
}


.word-control-menu__btn:hover {
  background-color: rgba(126, 8, 175, 0.1);
}

.word-control-menu__btn.selected {
  background-color: #35f066;
}

.word-control-menu__btn svg {
  width: 1.2rem;
  height: 1.2rem;
}

.word-control-menu__ok-btn {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 1.7rem;
  width: 3rem;
  margin-left: 0.3rem;
  background-color: white;
  border-radius: 0.25rem;
  color: #7e08af;
  font-family: "Kanit Regular", sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
}

.word-control-menu__bases-for-transfer {
  position: absolute;
  margin-top: 0.5rem;
  width: 6.8rem;
  background-color: rgba(0, 0, 0, 0.1);
  font-family: "Kanit Regular", sans-serif;
  color: white;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  border: 1px solid white;
}

.base-for-transfer {
  display: grid;
  justify-items: center;
  cursor: pointer;
}

.base-for-transfer:hover {
  color: #7e08af;
}

.paginator {
  display: grid;
  grid-area: paginator;
  grid-auto-flow: column;
  justify-content: center;
  align-items: end;
}

.paginator__page-btns {
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
}

.paginator__page-btn,
.paginator__prev-page,
.paginator__next-page {
  display: grid;
  align-items: center;
  justify-items: center;
  height: 1.6rem;
  width: 1.7rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
  margin-left: 0.2rem;
  font-family: "Viga Regular", sans-serif;
  font-size: 0.85rem;
  color: #7e08af;
  cursor: pointer;
}

.paginator__page-btn:hover,
.paginator__prev-page:hover,
.paginator__next-page:hover {
  background-color: #f5f5f5;
}

.paginator__page-btn:first-child {
  margin-left: 0;
}

.paginator__page-btn.present-page {
  color: #ffffff;
  background-color: #7e08af;
}

.paginator__prev-page {
  margin-left: 0;
  margin-right: 0.2rem;
}

.paginator__prev-page svg,
.paginator__next-page svg {
  height: 1.1rem;
  width: 1.1rem;
  fill: #7e08af;
}

.base-to-transfer-to {
  display: grid;
  justify-items: center;
  align-items: center;
  position: absolute;
  height: 1.2rem;
  width: 1.2rem;
  left: -1.6rem;
  background-color: #35f066;
  border-radius: 0.25rem;
}

.base-to-transfer-to svg {
  height: 0.8rem;
  width: 0.8rem;
}

.edit-input {
  width: 80%;
  height: 85%;
  border-radius: 0.25rem;
  padding-left: 0.3rem;
  border: none;
  outline: none;
  font-family: "Roboto Condensed Regular", sans-serif;
  color: #7e08af;
  font-size: 0.9rem;
  text-align: center;
}

.sync-error {
  display: grid;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 0 0.2rem;
  font-family: "Kanit Regular", sans-serif;
  font-size: 0.9rem;
  color: #ff3b3b;
  background-color: rgba(0,0,0,0.3);
}