@font-face {
  font-family: "Kanit Regular";
  src: url("../../assets/fonts/Kanit-Regular.ttf");
}

@font-face {
  font-family: "Viga Regular";
  src: url("../../assets/fonts/Viga-Regular.ttf");
}

@font-face {
  font-family: "Oswald Regular";
  src: url("../../assets/fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Roboto Condensed Regular";
  src: url("../../assets/fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "Roboto Condensed Bold";
  src: url("../../assets/fonts/RobotoCondensed-Bold.ttf");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../../assets/fonts/Roboto-Bold.ttf");
}

