@import "../../common/css/sundries";

.header {
  height: 3.75rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.226);
  box-sizing: border-box;
}

.header-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 78rem;
}

.header-menu__left, .header-menu__right {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
}

.header-menu__right {
  justify-content: right;
}

.header-menu__item {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 6.25rem;
  height: calc(100% - 2px);
  color: #ffffff;
  text-decoration: none;
  font-family: "Kanit Regular", sans-serif;
  font-size: 0.9rem;
  transition: color 500ms, border 100ms;
  z-index: 1000;
}

.header-menu__item:hover {
  color: #7e08af;
  border-bottom: 2px solid #ffffff;
}

.header-menu__feature-container {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}

.header-menu__feature {
  font-family: "Viga Regular", sans-serif;
  font-size: 1.2rem;
  color: #ffffff;
  transition: color 500ms;
  //cursor: pointer;
}

.header-menu__feature:hover {
  color: #7e08af;
}

.header-menu__delimiter {
  height: 80%;
  border-right: 2px solid white;
  margin-left: 2rem;
}

.word-search__title {
  cursor: pointer;
  opacity: 0;
  transition: opacity 250ms;
}

.word-search__title-enter {
  opacity: 0;
}

.word-search__title-enter-active,
.word-search__title-enter-done {
  opacity: 1;
}

.word-search__title-exit,
.word-search__title-exit-active,
.word-search__title-exit-done {
  opacity: 0;
}


.word-search__searcher {
  display: flex;
  opacity: 0;
  transition: opacity 250ms;
}

.word-search__searcher-enter {
  opacity: 0;
}

.word-search__searcher-enter-active,
.word-search__searcher-enter-done {
  opacity: 1;
}

.word-search__searcher-exit,
.word-search__searcher-exit-active,
.word-search__searcher-exit-done {
  opacity: 0;
}

.word-search__button {
  height: 1.5rem;
  width: 0.7rem;
  margin-right: 0.3rem;
  background-color: #7e08af;
  border-radius: 0.25rem;
  cursor: pointer;
}

.word-search__input {
  box-sizing: border-box;
  height: 1.5rem;
  width: 10rem;
  padding-left: 0.3rem;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  font-family: "Roboto Regular", sans-serif;
  color: #7e08af;
  font-size: 0.9rem;
}