.cards-page {
  padding-top: 1px;
  height: calc(100% - 3.8125rem);
  z-index: 1000;
}

.cards-wrapper {
  height: 22rem;
  width: 40rem;
  margin: 10rem auto 0 auto;
  border-radius: 50%;
  box-shadow: 17px 5px 0 -7px #7e08af;
  position: relative;
}

.cards {
  display: grid;
  height: 90%;
  grid-template-rows: 100fr 1fr 100fr;
  justify-items: center;
}

.card-top, .card-bottom {
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: "Oswald Regular", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
}

.card-delimiter {
  width: 60%;
  border-bottom: 1px solid #ffffff;
  box-shadow: 0 0 0.625rem rgb(255, 255, 255);
}

.cards-control {
  position: absolute;
  right: -1rem;
  top: 15rem;
  display: grid;
  grid-auto-flow: row;
}


.control-btn {
  position: absolute;
  font-family: "Oswald Regular", sans-serif;
  font-size: 1.1rem;
  color: #ffffff;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  cursor: pointer;
}

.control-btn:hover .control-btn__name {
  color: #7e08af;
}

.control-btn .control-btn__name.control-btn__name--green {
  color: #35f066;
}

.control-btn.next {
  left: -0.5rem;
}

.control-btn.learned {
  top: 2.4rem;
  left: -3rem;
}

.control-btn.repeat {
  top: 4.8rem;
  left: -6.5rem;
}

.control-btn.disabled .control-btn__name,
.control-btn__lamp.disabled {
  color: #d4d4d4;
}

.control-btn__lamp {
  height: 0.8rem;
  width: 0.8rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: white;
  transition: background-color 100ms;
}
.control-btn__lamp.disabled {
  background-color: #d4d4d4;
}

.control-btn__lamp--yellow {
  transition: background-color 700ms;
  background-color: #fcd0a3;
}

.control-btn__lamp--green {
  transition: background-color 100ms;
  background-color: #35f066;
}

.control-btn__lang-toggle {
  position: absolute;
  top: 7.4rem;
  left: -14rem;
}

.control-select {
  position: absolute;
  top: 9rem;
  right: 34rem;
}


.cards__wave {
  stroke-dasharray: 50 500;
  stroke-dashoffset: 50;
  animation: dash 2s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 50;
  }
  to {
    stroke-dashoffset: -500;
  }
}

.cards__loading-svg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4rem;
  width: 4rem;
}

