@import "common/css/sundries";


html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #5858FA;
  //background: linear-gradient(to right, #7e08af 10%, #5858FA, #3c99cb);
  background-size: auto 100%;
  min-width: 834px;
  overflow-y: hidden;
}

#root {
  height: 100%;
}

.server-error {
  width: 80%;
  height: 2rem;
  display: flex;
  margin: 0.5rem auto 0;
  justify-content: center;
  align-content: center;
  font-family: "Roboto Condensed Regular", sans-serif;
  font-size: 1.2rem;
  color: #7e08af;
  transition: opacity 1000ms;
  opacity: 0;
}

.server-error-enter {
  opacity: 1;
}

.server-error-enter-active {
  opacity: 1;
}

.server-error-enter-done {
  opacity: 1;
}
