@import "common/css/sundries";


html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to right, #7e08af 10%, #5858FA, #3c99cb);
  background-size: auto 100%;
  min-width: 834px;
  overflow-y: hidden;
}

#root {
  height: calc(100% - 3.75rem);
}

